# move_up k
# move_down j
# move_right h
# move_left l
move_up <C-y>
move_down <C-e>

# screen_up_smooth <C-u>
# screen_down_smooth <C-d>
screen_up <C-u>
screen_down <C-d>

previous_page <C-b>
next_page <C-f>

prev_state <C-o>
next_state <C-i>

goto_toc -

zoom_in <C-+>
zoom_out <C-->
fit_to_page_width <C-=>

open_document_embedded_from_current_path o
open_document_embedded O

goto_beginning;screen_down gg
goto_end;screen_up G

close_window q
