/* reference: https://github.com/ghostty-org/ghostty/discussions/3297#discussioncomment-11861813 */
/*
debug: env GTK_DEBUG=interactive ghostty
https://docs.gtk.org/gtk4/css-overview.html
https://docs.gtk.org/gtk4/css-properties.html
*/


headerbar {
  min-height: 24px;
  padding: 0;
  margin: 0;
}

tabbar tabbox {
  margin:  0 -0.5em 0 -0.5em;
  padding: 0;
  min-height: 10px;
}

tabbar tabbox tab {
  /* margin: 0.5em 0 0.5em 0; */
  margin: 0;
  padding: 0;
}

tabbar tabbox tab:selected {
}

tabbar tabbox tab label {
  font-size: 0.8em;
  /* font-weight: bold; */
}
