config-file = /home/austin/.local/share/ghostty/font.config

# Font styles to be used for the specified styles
#   - can be a name of a style, e.g. Bold Italic
#     - this will use the Bold Italic variant of the font specified in the
#       corresponding font-family option and will fall back to regular style if
#       the corresponding font-family doesn't have a Bold Italic variant
#   - can be a name of a font, e.g. Iosevka Bold Italic
#     - this will use the style that Iosevka Bold Italic advertises and fall back
#       to Iosevka Bold Italic if the corresponding font-family doesn't have a
#       Bold Italic variant
font-style = Medium
font-style-bold = Bold
font-style-italic = Medium Italic
font-style-bold-italic = Bold Italic

font-size = 10
