# Clear all default keybindings
keybind = clear

# ===== General =====
keybind = alt+minus=decrease_font_size:1
keybind = alt+equal=increase_font_size:1

keybind = alt+c=copy_to_clipboard
keybind = alt+v=paste_from_clipboard

keybind = alt+s=write_screen_file:paste

keybind = alt+r=reload_config
keybind = alt+escape=reset

# ===== Scroll =====
keybind = alt+f=scroll_page_down
keybind = alt+b=scroll_page_up

keybind = alt+d=scroll_page_fractional:0.5
keybind = alt+u=scroll_page_fractional:-0.5

keybind = alt+e=scroll_page_lines:1
keybind = alt+y=scroll_page_lines:-1

keybind = alt+left_bracket=jump_to_prompt:-1
keybind = alt+right_bracket=jump_to_prompt:+1

# ===== Windows =====

keybind = alt+n=new_window

keybind = alt+grave_accent=toggle_window_decorations

# ===== Tabs =====
keybind = alt+t=new_tab
# keybind = alt+w=close_tab

keybind = alt+comma=previous_tab
keybind = alt+period=next_tab

keybind = alt+shift+comma=move_tab:-1
keybind = alt+shift+period=move_tab:+1

# ===== Splits =====
keybind = alt+enter=new_split:right

keybind = alt+h=goto_split:left
keybind = alt+j=goto_split:bottom
keybind = alt+k=goto_split:top
keybind = alt+l=goto_split:right

keybind = alt+shift+h=goto_split:left
keybind = alt+shift+j=goto_split:bottom
keybind = alt+shift+k=goto_split:top
keybind = alt+shift+l=goto_split:right
