# colors of application ui (not pdf)
custom_color_mode_empty_background_color #@base00@

# colors of pdf page
custom_background_color #@base01@
custom_text_color #@base06@
page_separator_color #@base03@

# colors of status bar and other ui elements (e.g. command palette)
ui_text_color #@base06@
ui_selected_text_color #@base06@
ui_background_color #@base02@
ui_selected_background_color #@base03@

# color of manual highlights (add_highlight command)
highlight_color_a
highlight_color_b
highlight_color_c
highlight_color_d
highlight_color_e
highlight_color_f
highlight_color_g

# color to mask entire screen besides visual mark
visual_mark_color #@base04@11

# color of mouse-selected text
text_highlight_color #@base09@

# color of search results
search_highlight_color #@base0A@

# color of links in pdf file
link_highlight_color #@base0D@

# colors of synctex forward search highlights
synctex_highlight_color #@base08@
