custom_background_color #@base00@
custom_text_color #@base06@

page_separator_color #@base03@
search_highlight_color #@base0A@
status_bar_color #@base00@
status_bar_text_color #@base06@
ui_text_color #@base06@
ui_selected_text_color #@base06@
ui_background_color #@base01@
ui_selected_background_color #@base03@
background_color #@base00@
visual_mark_color #@base00@33
text_highlight_color #@base03@
link_highlight_color #@base0D@
synctex_highlight_color #@base08@
