# Font families to use for the specified styles
#   - if the style variants are not specified, e.g. font-family-bold-italic,
#     they will use the regular font family specified by font-family
font-family = @font_mono@ Mono
font-family-bold = @font_mono@ Mono
font-family-italic = @font_mono@ Mono
font-family-bold-italic = @font_mono@ Mono
