/* gtk css doesn't support env vars */
@import url("../../.local/share/waybar/palette.css");
@import url("../../.local/share/waybar/font.css");

* {
  font-size: 16px;
  /* margin: 0px 4px 0px 4px; */
}

/* label { */
/*   padding: 0 14px 0 14px; */
/* } */

/* .modules-left { */
/*   padding-left: 4px; */
/* } */

.modules-left widget label {
  padding-right: 1.5em;
}

.modules-center widget label {
  padding-left: 0.5em;
  padding-right: 0.5em;
}

.modules-right widget label {
  padding-left: 1.5em;
}

window#waybar {
  color: @base05;
  background: @base01;
}

tooltip {
  background: alpha(@base01, 0.9);
  border: 1px solid @base04;
}

tooltip label {
  color: @base05;
}

#window {
  font-weight: 500; /* https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-weight */
}

/* hide custom-fullscreen component when not fullscreen */
#custom-fullscreen {
  color: @base01;
}

window#waybar.fullscreen #custom-fullscreen {
  color: @base0A;
}

#custom-separator {
  padding: 0 0.75em 0 0.75em;
}

#network {
  text-shadow: 0 0 3px @base0D;
}

#wireplumber {
  text-shadow: 0 0 3px @base0E;
}

#backlight {
  text-shadow: 0 0 3px @base0A;
}

#battery {
  background: @base01;
  text-shadow: 0 0 3px @base09;
}

@keyframes battery_charging {
  to {
    color: @base02;
    text-shadow: none;
  }
}

#battery.charging {
  text-shadow: 0 0 5px @base0B;
  animation-name: battery_charging;
  animation-duration: 1.5s;
  animation-timing-function: linear;
  animation-iteration-count: infinite;
  animation-direction: alternate;
}

@keyframes battery_critical {
  to {
    color: @base08;
    text-shadow: none;
  }
}

#battery.critical {
  text-shadow: 0 0 5px @base08;
  animation-name: battery_critical;
  animation-duration: 0.75s;
  animation-timing-function: linear;
  animation-iteration-count: infinite;
  animation-direction: alternate;
}

#clock {
  text-shadow: 0 0 2px @base04;
}

#cpu, #memory, #disk {
  text-shadow: 0 0 5px @base0F;
}

#workspaces button {
  color: @base03;
  background: @base01;
  border-width: 0px;
  padding: 8px;
  box-shadow: none;
  text-shadow: 0 0 2px @base02;
}

#workspaces button label {
  padding: 0px 4px 0px 4px;
}

#workspaces button.active {
  font-weight: bolder;
  color: @base05;
  text-shadow: 0 0 3px @base04;
}

#workspaces button:hover {
  color: @base02;
  background: @base04;
  text-shadow: 0 0 3px @base01;
}

#custom-icon {
  padding: 8px;
  background: url("/home/austin/Pictures/shroomish.png") no-repeat right center;
  background-size: contain;
}
