/* gtk css doesn't support env vars */
@import url("../../.local/share/waybar/palette.css");
@import url("../../.local/share/waybar/font.css");



/********** DEFAULTS **********/

* {
  font-size: 16px;
  /* margin: 0px 4px 0px 4px; */
}

.modules-left widget label {
  margin-right: 0.5em;
}

.modules-center widget label {
  margin-left: 0.5em;
  margin-right: 0.5em;
}

.modules-right widget label {
  margin-left: 0.5em;
}

window#waybar {
  color: @base05;
  background: @base01;
  padding: 0;
  margin: 0;
  border-bottom: 2px solid @base03;
  /* box-shadow: 5px 5px 5px 5px #000000; */
}

tooltip {
  background: alpha(@base01, 1);
  border: 1px solid @base04;
}

tooltip label {
  color: @base04;
  text-shadow: none;
  font-size: 0.8em;
}

#network, #wireplumber, #backlight, #battery, #cpu, #memory, #disk, #clock, #tray {
  padding: 0 0.5em 0 0.5em;
  margin: 0.5em 0em 0.5em 0em;
  border-radius: 0.5em;
}

#network:hover, #wireplumber:hover, #backlight:hover, #battery:hover, #cpu:hover, #memory:hover, #disk:hover, #clock:hover {
  /* color: @base02; */
  background: @base02;
  /* text-shadow: 0 0 3px @base01; */
}



/********** LEFT **********/

#workspaces {
  margin-left: 0.3em;
}

#workspaces button {
  color: @base03;
  border-width: 0px;
  padding: 0 0.5em 0 0.5em;
  margin: 0.5em 0em 0.5em 0em;
  box-shadow: none;
  text-shadow: 0 0 2px @base02;
}

#workspaces button label {
  padding: 0 0.25em 0 0.25em;
  margin: 0;
}

#workspaces button.active {
  font-weight: bolder;
  color: @base05;
  text-shadow: 0 0 3px @base04;
}

#workspaces button:hover {
  color: @base02;
  background: @base04;
  text-shadow: 0 0 3px @base01;
}

.modules-left #custom-separator {
  margin-left: 0.5em;
}

#network {
  color: mix(@base05, @base0D, 0.4);
  text-shadow: 0 0 3px @base0D;
}

#wireplumber {
  color: mix(@base05, @base0E, 0.4);
  text-shadow: 0 0 3px @base0E;
}

#backlight {
  color: mix(@base05, @base0A, 0.4);
  text-shadow: 0 0 3px @base0A;
}

#battery {
  color: mix(@base05, @base09, 0.4);
  text-shadow: 0 0 3px @base09;
}

@keyframes battery_charging {
  to {
    color: @base02;
    text-shadow: none;
  }
}

#battery.charging {
  text-shadow: 0 0 5px @base0B;
  animation-name: battery_charging;
  animation-duration: 1.5s;
  animation-timing-function: linear;
  animation-iteration-count: infinite;
  animation-direction: alternate;
}

@keyframes battery_critical {
  to {
    color: @base08;
    text-shadow: none;
  }
}

#battery.critical {
  text-shadow: 0 0 5px @base08;
  animation-name: battery_critical;
  animation-duration: 0.75s;
  animation-timing-function: linear;
  animation-iteration-count: infinite;
  animation-direction: alternate;
}



/********** CENTER **********/

#current_window {
  border: 1px solid @base03;
  border-radius: 1em;
  padding: 0 0.25em 0 0.25em;
  margin: 0.35em 0 0.5em 0;
  background: alpha(@base02, 0.7);
}

#window {
  padding: 0 0.2em 0 0.2em;
}

#custom-fullscreen {
  color: @base04;
}

window#waybar.fullscreen #custom-fullscreen {
  color: @base0A;
}



/********** RIGHT **********/

.modules-right #custom-separator {
  margin-right: 0.5em;
}

#tray {
  /* border: 1px solid @base03; */
  /* border-radius: 0.2em; */
  /* padding: 0 1em 0 1em; */
  /* margin: 0.5em 0 0.5em 0; */
}

#idle_inhibitor {
    padding: 0 1em 0.1em 1em;
}

#idle_inhibitor.activated {
    color: @base08;
    text-shadow: 0 0 5px @base08;
}

#idle_inhibitor.deactivated {
    color: @base04;
    text-shadow: 0 0 5px @base04;
}

#cpu, #memory, #disk {
  color: mix(@base05, @base0F, 0.6);
  text-shadow: 0 0 5px @base0F;
}

#clock {
  font-size: 0.75em;
  text-shadow: 0 0 2px @base04;
  margin-right: 0.25em;
}



#custom-icon {
  padding: 8px;
  background: url("/home/austin/Pictures/shroomish.png") no-repeat right center;
  background-size: contain;
}
