/* gtk css doesn't support env vars */
@import url("../../.local/share/waybar/palette.css");

* {
  font-family: "Mononoki Nerd Font";
  font-size: 16px;
  /* margin: 0px 4px 0px 4px; */
}

window#waybar {
  color: @base05;
  background: @base01;
}

tooltip {
  background: rgba(20, 20, 20, 0.8);
  border: 1px solid @base04;
}

tooltip label {
  color: @base05;
}

#battery {
  background: transparent;
}

@keyframes battery_charging {
  to {
    color: @base02;
  }
}

#battery.charging {
  animation-name: battery_charging;
  animation-duration: 1.5s;
  animation-timing-function: linear;
  animation-iteration-count: infinite;
  animation-direction: alternate;
}

@keyframes battery_critical {
  to {
    color: @base08;
  }
}

#battery.critical {
  animation-name: battery_critical;
  animation-duration: 0.75s;
  animation-timing-function: linear;
  animation-iteration-count: infinite;
  animation-direction: alternate;
}

#workspaces button.active {
  font-weight: bolder;
  color: @base05;
}

#workspaces button {
  color: @base03;
  background: @base01;
  border-width: 0px;
  box-shadow: none;
  padding: 8px;
}

#workspaces button:hover {
  color: @base02;
  text-shadow: 0 0 4px @base01;
  background: @base04;
}

#custom-icon {
  padding: 8px;
  background: url("/home/austin/Pictures/shroomish.png") no-repeat right center;
  background-size: contain;
}
